*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --colorOne: #635985;
  --colorTwo: #443C68;
  --colorThree: #393053;
  --colorFour: #18122B;
  font-family: "Teko";
}

body {
    background-color: var(--colorFour);
    font-family: "Varela Round";
}

img {
  width: 700px;
}

#removeBackgroundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#removeBackgroundPage .title {
  color: white;
  font-size: 4rem;
}

#removeBackgroundPage .contentContainer {
  display: flex;
}

#removeBackgroundPage .imageContainer {
  width: 600px;
  min-height: 600px;
  border: 4px solid white;
}

#removeBackgroundPage .image {
  max-height: 600px;
  width: auto;
  border: 4px solid white;
}

#removeBackgroundButton {
  background-color: white;
  width: fit-content
}

#removeBackgroundButton:hover {
  cursor: pointer;
}

#pictureUpload {
  color: white;
}